.header {
    overflow: hidden;
    padding: 2px 1px;
    }
    .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    font-size: 18px; 
    
    }
    
    .header a.logo {
    float: left;
    font-size: 25px;
    font-weight: bold;
    }
    .header a:hover {
        background-color: #ddd;
        text-decoration: none;
        color: black;
    }
    
    .header a.active {
    background-color: maroon;
    color: white;
    }
    
    .header-right {
    float: right;
    }
    #iki{
    float: left;
    }
    @media screen and (max-width: 500px) {
        .header a {
        float: none;
        display: block;
        text-align: left;
        }
        .header-right {
        float: none;
        }
        }
        .well{
            border-style: ridge;
            text-align: center;
            font-size: 18px;
            padding: 50px 100px 50px 100px;
        }